### Photon Environment Variables
PHOTON_PORT=8090
USER_EMAIL=photon@jrdn.dev
DATA_PATH=./data

### Domain Options
PHOTON_DOMAIN=photon.local

# Uncomment the below lines if you are using a custom subdomain for link sharing.
# PHOTON_SHARE_DOMAIN=share.photon.local
# COOKIE_DOMAIN=.photon.local

### Photon Worker Environment Variables
SCAN_RATE=10

### Database Environment Variables
MYSQL_HOST=db
MYSQL_DATABASE=photon
MYSQL_USER=photon
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=pleasechangeme
